/* =========================
BASE (SITE NORMAL = LTR)
========================= */

html, body {
  direction: ltr;
  text-align: left;
}

/* =========================
RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
SOURETH UNIQUEMENT (RTL)
========================= */

.soureth,
.soureth *,
#keyboard,
.quiz-options,
#question,
#letterDisplay,
#guideLetter,
.hero-demo,
#editor {
  direction: rtl;
  unicode-bidi: plaintext;
  text-align: right;
  font-family: 'nohadra', 'assyrian', sans-serif !important;
}

/* =========================
INPUTS
========================= */

textarea {
  direction: rtl;
  text-align: right;
}

/* =========================
CANVAS (TOUJOURS LTR)
========================= */

canvas {
  direction: ltr;
}

/* =========================
UI EXCEPTION (FORCE LTR)
========================= */

.ltr {
  direction: ltr !important;
  text-align: left !important;
}