/* RESET */

/* =========================
FONTS SOURETH
========================= */

@font-face {
  font-family: 'nohadra';
  src: url('../assets/fonts/nohadra.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'assyrian';
  src: url('../assets/fonts/assyrian.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* =========================
DIRECTION SOURETH GLOBAL
========================= */

.soureth,
#keyboard,
.quiz-options button,
#question,
#letterDisplay,
#guideLetter {
  direction: rtl;
  unicode-bidi: plaintext;
  font-family: 'nohadra', 'assyrian', sans-serif !important;
}

/* TEXT NORMAL (FR) */
body {
  direction: ltr;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* THEME */
:root {
  --bg: radial-gradient(circle at top left, #0033a0, #050816 60%);
  --text: #ffffff;
  --card: rgba(255,255,255,0.08);
  --soft: rgba(255,255,255,0.7);
}

/* GLOBAL BODY */
body {
 
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  overflow-x: hidden;
  transition: 0.3s ease;
}

/* LIGHT MODE */
body.light-mode {
  --bg: #f4f7fb;
  --text: #111827;
  --card: rgba(255,255,255,0.9);
}

/* DARK MODE */
body.dark {
  --bg: #050816;
  --text: #ffffff;
  --card: rgba(0,0,0,0.4);
}

/* =========================
INPUT FIX
========================= */

textarea,
input {
  direction: rtl;
  unicode-bidi: plaintext;
  text-align: right;
  font-family: 'nohadra', sans-serif;
}


:lang(syr) {
  direction: rtl;
  unicode-bidi: plaintext;
  font-family: 'nohadra', 'assyrian', sans-serif;
}