* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top left, var(--blue-main), var(--bg-dark));
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

/* FIX VIOLET NAVIGATEUR */
a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

/* REMOVE FOCUS OUTLINE CLEAN STYLE */
button, a {
  outline: none;
}