
#keyboard button {

  font-family: 'Nohadra';

  font-size: 34px;

  width: 70px;

  height: 70px;

  border-radius: 18px;

  border: none;

  background:
    rgba(255,255,255,0.08);

  color: white;

  transition: 0.25s;
}

#keyboard button:hover {

  background:
    linear-gradient(
      135deg,
      #0033a0,
      #00cfff
    );

  transform: scale(1.08);
}
