/* =========================
RESET THEME
========================= */
:root {
  --bg: radial-gradient(circle at top left, #0033a0, #050816 60%);
  --text: #ffffff;
  --card: rgba(255,255,255,0.08);
  --soft: rgba(255,255,255,0.7);
}

/* LIGHT MODE */
body.light-mode {
  --bg: #f4f7fb;
  --text: #111827;
  --card: rgba(255,255,255,0.9);
  --soft: rgba(17,24,39,0.7);
}

/* BODY GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  overflow-x: hidden;
  transition: 0.3s ease;
}

/* =========================
FONTS SOURETH
========================= */

@font-face {
  font-family: 'Adiabene';
  src: url('../assets/fonts/Adiabene.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohadra';
  src: url('../assets/fonts/nohadra.woff2') format('woff2');
}

@font-face {
  font-family: 'Assyrian';
  src: url('../assets/fonts/assyrian.woff2') format('woff2');
}

/* =========================
SOURETH SAFE TEXT
========================= */

.soureth-title,
.soureth-writing,
.letter,
#keyboard button,
.quiz-options button,
#question {
  font-family: 'Adiabene', sans-serif !important;
  direction: rtl;
  unicode-bidi: plaintext;
}