body ultra premium.css
body {

  font-family: 'Poppins', sans-serif;

  background:
    radial-gradient(
      circle at top left,
      #0033a0,
      #050816 55%
    );

  color: white;

  overflow-x: hidden;

  min-height: 100vh;
}
