
header {

  position: sticky;

  top: 0;

  z-index: 999;

  backdrop-filter: blur(14px);

  background:
    rgba(0,0,0,0.25);

  border-bottom:
    1px solid rgba(255,255,255,0.08);

  padding: 20px;
}
