
.hero {

  text-align: center;

  padding: 120px 20px;

  position: relative;
}

.hero h1 {

  font-size: 4.5rem;

  line-height: 1.1;

  margin-bottom: 25px;

  text-shadow:
    0 0 25px rgba(0,162,255,0.45);
}

.hero p {

  max-width: 850px;

  margin: auto;

  font-size: 1.2rem;

  color: #d9e2ff;

  line-height: 1.9;
}
