navigation premium.css
nav a {

  text-decoration: none;

  color: white;

  padding: 12px 20px;

  border-radius: 16px;

  transition: 0.3s;

  background:
    rgba(255,255,255,0.05);
}

nav a:hover {

  background:
    linear-gradient(
      135deg,
      #0066ff,
      #00cfff
    );

  transform:
    translateY(-3px);

  box-shadow:
    0 10px 25px rgba(0,162,255,0.35);
}
